.button.primary {
  padding: 14px 15px 15px;
  background-color: $CLR_PRIMARY;
  border-radius: $BTN_BORDER;
  font-size: 18px;
  line-height: 21px;
  transition: all .3s ease;
  flex-shrink: 0;
  color: white;

  &:hover {
    background-color: $CLR_PRIMARY_2;
  }

  &:active {
    background-color: $CLR_PRIMARY_3;
  }

  &.small {
    padding: 10px 15px 11px;
    font-size: 16px;
    line-height: 120%;
  }

  &.bold {
    font-weight: bold;
  }
}

.button.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  border: 1px solid $CLR_BORDER_2;
  border-radius: 30px;
  background-color: white;
  transition: all .3s ease;

  &:hover {
    border-color: $CLR_GRAY_TEXT;
  }

  &:active {
    border-color: $CLR_TEXT;
  }

  &.closer {
    width: 32px;
    height: 32px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
}