
// Общие стили форм


input.touched:invalid {
  ~.warn {
    display: flex;

    .warn-icon {
      background-image: url("../img/warn-er.png")
    }
  }
}

input.touched:valid, textarea.touched:valid {
  ~.warn {
    display: flex;

    .warn-text {
      visibility: hidden;
    }
  
    .warn-icon {
      background-image: url("../img/warn-ok.png")
    }
  }
}

.standard-input + label {
  align-self: baseline;
  margin-bottom: 8px;
  font-size: 14px;
}

.standard-input-wrapper {
  display: flex;
  flex-direction: column-reverse;
  position: relative;

  .standard-input {
    width: 100%;
    height: 50px;
    padding: 15px;
    border: 1px solid $CLR_BORDER;
    background-color: transparent;
    border-radius: 3px;
    z-index: 1;
    box-sizing: border-box;
  }

  .warn {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: flex-end;
    flex-direction: column-reverse;
    width: 100%;
    box-sizing: border-box;
    color: $CLR_SECONDARY;

    .warn-icon {
      display: flex;
      width: 24px;
      height: 24px;
      margin-right: 17px;
      background-repeat: no-repeat;
      background-position: center;
    }

    .warn-text {
      margin-bottom: 21px;
      font-size: 14px;
      line-height: 120%;
    }
  }
}
//