@import "./fonts.scss";
@import "./normalize.scss";

html {
  font-family: $FNT_PRIMARY;
  color: $CLR_TEXT;

  .dg .c .slider {
    cursor: none;
  }

  .dg.main .close-button.close-bottom {
    cursor: none;

    @include respond-to(xs) {
      opacity: 0;
      pointer-events: none;
    }
  }

  .dg.a {
    @include respond-to(xs) {
      margin-right: 0;
    }
  }
}

.dg.main {
  opacity: 0.4;
  transition: opacity .3s ease;

  &:hover {
    opacity: 1;
  }
}

* {
  cursor: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
