$CLR_PRIMARY: #0065D9;
$CLR_PRIMARY_2: #0D54A6;
$CLR_PRIMARY_3: #BFDDFF;

$CLR_SECONDARY: #EF3535;
$CLR_SECONDARY_2: #FFD426;
$CLR_SECONDARY_3: #3CC741;

$CLR_DARK: #000000;
$CLR_TEXT: #141414;
$CLR_GRAY_TEXT: #999999;
$CLR_GRAY_BACK: #F7F7F7;
$CLR_BORDER: #CCCCCC;
$CLR_BORDER_2: #DFE2E6;


/* Colors */
$dark-main: #0d0e11;
$dark-accent: #f3f2f1;
$dark-support: #08090c;
$light-main: #f3f2f1;
$light-accent: #000;
$light-support: #eeecea;